/* __Подключение локальных шрифтов */
@font-face {
	font-family: 'Segoe UI';
	src: local('SEGOE UI'), url('../fonts/segoe-ui.ttf') format('truetype');
}

/*  __Сброс стилей, работающих поумолчанию */
*{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}

li{
	list-style: none;
}

/* __Общие стили */
body{
	background: #fff;
	color: #6c6c6c;
	font-family: "Segoe UI", "Arial", sans-serif;
	font-size: 14px;
	font-weight: normal;
	text-transform: none;
}

.center-wrapper{
	width: 1024px;
	margin: 0 auto;
}

/* __Пвевдораспорка */
.center-wrapper:after,
.features-block:after,
.product:after{
	content: "";
	display: table;
	clear: both;
}

/* __ХЭДЕР */
header{
	padding: 22px 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 90px;
}

	.logo{
		position: relative;
		float: left;
		margin-left: 85px;
		font-size: 3em;
		color: #000;
		vertical-align: middle;
	}

	a.logo{
		color: #000;
		cursor: pointer;
	}

	.logo:before{
		position: absolute;
		content: url(../img/logo-quotes.png);
		width: 44px;
		height: 44px;
		left: -57px;
		top: 6px;
	}

	.top-menu{
		position: relative;
		float: right;
		margin-top: 12px;
		font-size: 1.55em;
	}

		.top-menu li{
			float: left;
		}

		.top-menu a{
			float: left;
			padding: 13px;
			color: #6c6c6c;
		}

		.top-menu:last-child{
			margin-right: 25px;
		}

		.top-menu a:hover,
		.top-menu a:focus{
			background: #5094f2;
			color: #fff;
			-webkit-transition: 0.3s;
			transition: 0.3s;
		}

		.top-menu .active{
				padding: 13px 3px;
				padding-bottom: 10px;
				margin: 0 10px;
				border-bottom: 3px solid #5094f2;
			}



/* __МЭЙН */
	.banner{
		position: relative;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		height: 495px;
		padding: 38px 0;
		background: #161718 url("../img/background-banner.png") no-repeat center top;
	}

	.banner:after{
		position: absolute;
		bottom: 0;
		content: "";
		display: block;
		height: 8px;
		width: 100%;
		background: url(../img/border-banner.png) repeat-x;
	}

		.banner-image{
			float: left;
			width: 475px;
			margin-right: 35px;
			text-align: center;
		}

	.banner-image img{
			display: inline-block;
		}

		.banner-text{
			float: left;
			width: 510px;
			margin-top: 100px;
			color: #fff;
			text-align: left;
			font-size: 1.7em;
			line-height: 1.9em;
		}

			.banner-text strong{
				font-size: 1.625em;
				font-weight: normal;
			}

			.btn{
				display: inline-block;
				height: 30px;
				margin-top: 20px;
				padding: 7px 10px;
				padding-top: 2px;
				margin-left: 10px;
				line-height: normal;
				color: #fff;
				background: #5094f2;
				letter-spacing: -0.03em;
				border-radius: 2px;
			}

			.btn:hover,
			.btn:focus{
				-webkit-transition: 0.3s;
				transition: 0.3s;
				box-shadow: inset 0 0 10px 0 rgba(0,64,153,.5);
			}

			.btn:before{
				position: relative;
				content: url("../img/btn-tick.png");
				top: 3px;
				margin-right: 8px;
			}

	.features-block{
		margin-top: 50px;
	}

		.feature{
			float: left;
			width: 260px;
			margin-right: 47px;
			padding: 10px 25px;
			text-align: center;
			line-height: 1.3em;
		}

		.feature:last-child{
			margin-right: 0;
		}

			h2{
				margin-top: 0.9em;
				margin-bottom: 0.4em;
				font-size: 1.6em;
				font-weight: normal;
				color: #5094f2;
			}

			h2:hover{
				color: #406ce1;
				-webkit-transition: 0.2s;
				transition: 0.2s;
			}

		 	.feature img{
		 		display: inline-block;

		 	}

	.product{
		margin-top: 65px;
		padding: 10px 0;
		margin-bottom: 45px;
		text-align: left;
		line-height: 2em;
	}

		.product-present{
			float: left;
			padding: 0 50px;
			text-align: left;
			width: 357px;
		}

			.product-title{
				font-size: 3em;
				height: 1em;
			}

			.product-img{
				float: left;
				margin-top: 35px;
			}

		.product-description{
			float: left;
			width: 520px;
			padding-left: 45px;
			padding-top: 45px;
		}

			h1{
				font-size: 1.9em;
				margin-bottom: 1em;
				font-weight: normal;
			}

			.product p{
				line-height: 2.6em;
			}


/* __ФУТЕР */
footer{
	padding-top: 30px;
	padding-bottom: 40px;
	border-top: 1px solid #e5e5e5;
}

	footer p{
		padding-left: 350px;
	}
